__W205, Fall 2016__
__Final Project:__ Solar Fields and Weather
__Group:__ Boris Kletser, Maya Miller-Vedam, Geoff Striling, Laura Williams
# NOAA Data Ingest
OVERVIEW: This is just a file to help me learn how to load data from the NOAA website into a postgres table... This code will eventually live in a script called __data_ingest_noaa.py__.

In [2]:
# imports
from __future__ import absolute_import, print_function, unicode_literals
import os
import requests
import numpy as np
import pandas as pd
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [ ]:
# save working directory to be reset at the end
initial_directory = os.getcwd()
os.chdir('/Users/mmillervedam/Documents/MIDS/W205/FinalProject')

In [18]:
# import functions for creating/recreating the postgres database & tables
from setup import create_database, create_tables

### Set Up

In [ ]:
# Globals
STATIONS_URL = 'http://www1.ncdc.noaa.gov/pub/data/uscrn/products/stations.tsv'

In [ ]:
# helper function
def get_noaa_url(wban, stations_df):
    """ Function to take a wban number and output a url."""
    base = 'http://www1.ncdc.noaa.gov/pub/data/uscrn/products/monthly01/CRNM0102-'
    station = '_'.join(stations_df.loc[str(wban),['STATE', 'LOCATION', 'VECTOR']])
    return base + station.replace(' ','_') + '.txt'

### Ingest Stations Table from NOAA

In [6]:
# load USCERN stations indexed by their WBAN ID numbers
stations_df = pd.read_csv(url, sep = '\t', header=0, index_col = 'WBAN')
stations_df.head()

,COUNTRY,STATE,LOCATION,VECTOR,NAME,LATITUDE,LONGITUDE,ELEVATION,STATUS,COMMISSIONING,CLOSING,OPERATION,PAIRING,NETWORK
WBAN,,,,,,,,,,,,,,
03047,US,TX,Monahans,6 ENE,Sandhills State Park,31.62,-102.80,2724,Commissioned,2004-01-11 19:00:00.0,NaN,Operational,NaN,USCRN
03048,US,NM,Socorro,20 N,Sevilleta National Wildlife Refuge (LTER Site),34.35,-106.88,4847,Commissioned,2004-01-11 19:00:00.0,NaN,Operational,NaN,USCRN
03054,US,TX,Muleshoe,19 S,Muleshoe National Wildlife Refuge (Headquarter...,33.95,-102.77,3742,Commissioned,2004-04-22 20:00:00.0,NaN,Operational,NaN,USCRN
03055,US,OK,Goodwell,2 E,OK Panhandle Research & Extn. Center (Native ...,36.59,-101.59,3266,Commissioned,2004-04-22 20:00:00.0,NaN,Operational,NaN,USCRN
03060,US,CO,Montrose,11 ENE,Black Canyon of the Gunnison National Park (Ve...,38.54,-107.69,8402,Commissioned,2004-09-07 20:00:00.0,NaN,Operational,NaN,USCRN

In [10]:
# select the columns that we'll use
stations_df = stations_df[['NAME','LOCATION','VECTOR','STATE','LATITUDE','LONGITUDE','ELEVATION']]
stations_df.head()

,NAME,LOCATION,VECTOR,STATE,LATITUDE,LONGITUDE,ELEVATION
WBAN,,,,,,,
03047,Sandhills State Park,Monahans,6 ENE,TX,31.62,-102.80,2724
03048,Sevilleta National Wildlife Refuge (LTER Site),Socorro,20 N,NM,34.35,-106.88,4847
03054,Muleshoe National Wildlife Refuge (Headquarter...,Muleshoe,19 S,TX,33.95,-102.77,3742
03055,OK Panhandle Research & Extn. Center (Native ...,Goodwell,2 E,OK,36.59,-101.59,3266
03060,Black Canyon of the Gunnison National Park (Ve...,Montrose,11 ENE,CO,38.54,-107.69,8402

### Load Stations table into Postgres  
NOTE: postgres must be running for the following code to work

In [ ]:
create_database()

In [ ]:
create_tables()

In [ ]:
conn = psycopg2.connect(database='solarenergy', user='postgres',
                            password='pass', host='localhost', port='5432')

In [ ]:
stations.to_sql('weather_stations', conn)

In [ ]:
conn.close()