__W205, Fall 2016__
__Final Project:__ Solar Fields and Weather
__Group:__ Boris Kletser, Maya Miller-Vedam, Geoff Striling, Laura Williams
# NOAA Data Ingest
OVERVIEW: This is just a file to help me learn how to load data from the NOAA website into a postgres table... This code will eventually live in a script called __data_ingest_noaa.py__.

In [8]:
# imports
from __future__ import absolute_import, print_function, unicode_literals
import os
import requests
import numpy as np
import pandas as pd
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [9]:
# save working directory to be reset at the end
initial_directory = os.getcwd()
#os.chdir('/Users/mmillervedam/Documents/MIDS/W205/FinalProject')
os.chdir('/home/w205/w205_energy')

In [10]:
# import functions for creating/recreating the postgres database & tables
from setup import create_database, create_tables

### Set Up

In [11]:
# Globals
STATIONS_URL = 'http://www1.ncdc.noaa.gov/pub/data/uscrn/products/stations.tsv'

In [12]:
# helper function
def get_noaa_url(wban, stations_df):
    """ Function to take a wban number and output a url."""
    base = 'http://www1.ncdc.noaa.gov/pub/data/uscrn/products/monthly01/CRNM0102-'
    station = '_'.join(stations_df.loc[str(wban),['STATE', 'LOCATION', 'VECTOR']])
    return base + station.replace(' ','_') + '.txt'

### Ingest Stations Table from NOAA

In [43]:
# load USCERN stations indexed by their WBAN ID numbers
stations_df = pd.read_csv(STATIONS_URL, sep = '\t', header=0, index_col = 'WBAN')
stations_df.head()

,COUNTRY,STATE,LOCATION,VECTOR,NAME,LATITUDE,LONGITUDE,ELEVATION,STATUS,COMMISSIONING,CLOSING,OPERATION,PAIRING,NETWORK
WBAN,,,,,,,,,,,,,,
03047,US,TX,Monahans,6 ENE,Sandhills State Park,31.62,-102.80,2724,Commissioned,2004-01-11 19:00:00.0,NaN,Operational,NaN,USCRN
03048,US,NM,Socorro,20 N,Sevilleta National Wildlife Refuge (LTER Site),34.35,-106.88,4847,Commissioned,2004-01-11 19:00:00.0,NaN,Operational,NaN,USCRN
03054,US,TX,Muleshoe,19 S,Muleshoe National Wildlife Refuge (Headquarter...,33.95,-102.77,3742,Commissioned,2004-04-22 20:00:00.0,NaN,Operational,NaN,USCRN
03055,US,OK,Goodwell,2 E,OK Panhandle Research & Extn. Center (Native ...,36.59,-101.59,3266,Commissioned,2004-04-22 20:00:00.0,NaN,Operational,NaN,USCRN
03060,US,CO,Montrose,11 ENE,Black Canyon of the Gunnison National Park (Ve...,38.54,-107.69,8402,Commissioned,2004-09-07 20:00:00.0,NaN,Operational,NaN,USCRN

In [46]:
# select the columns that we'll use & rename them to fit the postgres table
cols = ['NAME','LOCATION','VECTOR','STATE','LATITUDE','LONGITUDE','ELEVATION']
stations_df = stations_df[cols]
stations_df.index.names = ['wban_id']
stations_df = stations_df.rename(index=str, columns={c:c.lower() for c in cols})
stations_df.head()

,name,location,vector,state,latitude,longitude,elevation
wban_id,,,,,,,
03047,Sandhills State Park,Monahans,6 ENE,TX,31.62,-102.80,2724
03048,Sevilleta National Wildlife Refuge (LTER Site),Socorro,20 N,NM,34.35,-106.88,4847
03054,Muleshoe National Wildlife Refuge (Headquarter...,Muleshoe,19 S,TX,33.95,-102.77,3742
03055,OK Panhandle Research & Extn. Center (Native ...,Goodwell,2 E,OK,36.59,-101.59,3266
03060,Black Canyon of the Gunnison National Park (Ve...,Montrose,11 ENE,CO,38.54,-107.69,8402

In [53]:
# AHHHHHHH need to fix uniqueness problem
print(len(stations_df))
print(len(stations_df.index.unique()))

242
233

### Load Stations table into Postgres  
NOTE: postgres must be running for the following code to work

In [ ]:
# Uncomment and run if you need to reset the DB
#create_database()

In [56]:
# Uncomment and run if you need to reset the tables
#create_tables()

In [20]:
from sqlalchemy import create_engine

In [57]:
# connection string to allow pandas to work with psycopg2 & sqlalchemy
db_loc = 'postgresql+psycopg2://postgres:pass@localhost:5432/solarenergy' 
engine = create_engine(db_loc)

In [58]:
# for now i'm just loading 5 row because later i'll need to deal with the 
# problem of duplicate stations.
test_df = stations_df[1:5]
test_df.to_sql("weather_stations", engine, if_exists='append')