__W205, Fall 2016__
__Final Project:__ Solar Fields and Weather
__Group:__ Boris Kletser, Maya Miller-Vedam, Geoff Striling, Laura Williams
# NOAA Data Ingest
OVERVIEW: This is just a file to help me learn how to load data from the NOAA website into a postgres table... This code will eventually live in a script called __data_ingest_noaa.py__.

In [1]:
# imports
from __future__ import absolute_import, print_function, unicode_literals
import os
import requests
import numpy as np
import pandas as pd
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
from sqlalchemy import create_engine

In [2]:
# save working directory to be reset at the end
initial_directory = os.getcwd()
#os.chdir('/Users/mmillervedam/Documents/MIDS/W205/FinalProject')
os.chdir('/home/w205/w205_energy')

In [3]:
# import functions for creating/recreating the postgres database & tables
from setup import create_database, create_tables

### Set Up

In [4]:
# Globals
STATIONS_URL = 'http://www1.ncdc.noaa.gov/pub/data/uscrn/products/stations.tsv'

In [5]:
# helper function
def get_noaa_url_from_df(wban, stations_df):
    """ Function to take a wban number and output a url."""
    base = 'http://www1.ncdc.noaa.gov/pub/data/uscrn/products/monthly01/CRNM0102-'
    station = '_'.join(stations_df.loc[str(wban),['state', 'location', 'vector']])
    return base + station.replace(' ','_') + '.txt'

### Ingest Stations Table from NOAA

In [6]:
# load USCERN stations indexed by their WBAN ID numbers
stations_df = pd.read_csv(STATIONS_URL, sep = '\t', header=0, index_col = 'WBAN')

In [7]:
# select the columns that we'll use & rename them to fit the postgres table
cols = ['NAME','LOCATION','VECTOR','STATE','LATITUDE','LONGITUDE','ELEVATION']
stations_df = stations_df[cols]
stations_df.index.names = ['wban_id']
stations_df = stations_df.rename(index=str, columns={c:c.lower() for c in cols})
stations_df.head()

,name,location,vector,state,latitude,longitude,elevation
wban_id,,,,,,,
03047,Sandhills State Park,Monahans,6 ENE,TX,31.62,-102.80,2724
03048,Sevilleta National Wildlife Refuge (LTER Site),Socorro,20 N,NM,34.35,-106.88,4847
03054,Muleshoe National Wildlife Refuge (Headquarter...,Muleshoe,19 S,TX,33.95,-102.77,3742
03055,OK Panhandle Research & Extn. Center (Native ...,Goodwell,2 E,OK,36.59,-101.59,3266
03060,Black Canyon of the Gunnison National Park (Ve...,Montrose,11 ENE,CO,38.54,-107.69,8402

In [8]:
# AHHHHHHH need to fix uniqueness problem
print(len(stations_df))
print(len(stations_df.index.unique()))

242
233

In [9]:
# duplicate stations don't have WBAN IDS and are all in Alaska
stations_df[stations_df.duplicated()]

,name,location,vector,state,latitude,longitude,elevation
wban_id,,,,,,,
UN,"FWS, Selawik National Wildlife Refuge (Cabin S...",Selawik,28 E,AK,66.56,-159.00,22
UN,"NPS, Denali National Park (Wonder Lake Campgro...",Denali,27 N,AK,63.45,-150.87,2225
UN,"BLM, Paxson Airport",Glennallen,64 N,AK,63.02,-145.50,2669
UN,"FWS, Nowitna National Wildlife Refuge (Lake Site)",Ruby,44 ESE,AK,64.50,-154.12,259
UN,"Arctic Slope Regional Corporation, Ivotuk Airs...",Ivotuk,1 NNE,AK,68.48,-155.75,1909
UN,"AK Department of Natural Resources, Haul Road)",Deadhorse,3 S,AK,70.16,-148.46,30
UN,"The Nature Conservancy, Gustavus Forelands Pre...",Gustavus,2 NE,AK,58.42,-135.69,20
UN,"NPS, Katmai National Park (Contact Creek)",King Salmon,42 SE,AK,58.20,-155.92,661
UN,"FWS, Tetlin National Wildlife Refuge (Seaton R...",Tok,70 SE,AK,62.73,-141.20,2000

In [10]:
# removing duplicates
stations_df = stations_df[-stations_df.duplicated()]
len(stations_df)
sum(stations_df.duplicated())

0

### Load Stations table into Postgres  
NOTE: postgres must be running for the following code to work

In [ ]:
# Uncomment and run if you need to reset the DB
#create_database()

In [ ]:
# Uncomment and run if you need to reset the tables
# create_tables()

In [ ]:
# connection string to allow pandas to work with psycopg2 & sqlalchemy
db_loc = 'postgresql+psycopg2://postgres:pass@localhost:5432/solarenergy' 
engine = create_engine(db_loc)
stations_df.to_sql("weather_stations", engine, if_exists='append')

### Load Monthly Data (one station)

In [11]:
# getting headers
url = 'http://www1.ncdc.noaa.gov/pub/data/uscrn/products/monthly01/HEADERS.txt'
headers = requests.get(url)
cnames = headers.text.split('\n')[1].split()
print(cnames)

[u'WBANNO', u'LST_YRMO', u'CRX_VN_MONTHLY', u'PRECISE_LONGITUDE', u'PRECISE_LATITUDE', u'T_MONTHLY_MAX', u'T_MONTHLY_MIN', u'T_MONTHLY_MEAN', u'T_MONTHLY_AVG', u'P_MONTHLY_CALC', u'SOLRAD_MONTHLY_AVG', u'SUR_TEMP_MONTHLY_TYPE', u'SUR_TEMP_MONTHLY_MAX', u'SUR_TEMP_MONTHLY_MIN', u'SUR_TEMP_MONTHLY_AVG']

In [12]:
# making column names compatible with postgres table
newcols = {'WBANNO':'wban_id', 
        'LST_YRMO':'month', 
        'T_MONTHLY_MAX':'max_temp', 
        'T_MONTHLY_MIN':'min_temp', 
        'T_MONTHLY_MEAN':'mean_temp',
        'P_MONTHLY_CALC':'precipitation', 
        'SOLRAD_MONTHLY_AVG':'solar_radiation'}
usecols=[str(c) for c in newcols.keys()]

In [13]:
# url for station in Bodega
url = get_noaa_url_from_df(93245, stations_df)
url

u'http://www1.ncdc.noaa.gov/pub/data/uscrn/products/monthly01/CRNM0102-CA_Bodega_6_WSW.txt'

In [14]:
# pulling data for station in Bodega
bodega_df = pd.read_csv(url, sep = '\s+', 
                        header=None,
                        index_col = 'WBANNO',
                        names=cnames,
                        usecols=usecols)
bodega_df.index.names = ['wban_id']
bodega_df = bodega_df.rename(index=str, columns=newcols)
bodega_df.head()

          month  max_temp  min_temp  mean_temp  precipitation  solar_radiation
wban_id
93245    200806   -9999.0   -9999.0    -9999.0        -9999.0          -9999.0
93245    200807      16.5      10.3       13.4            0.2             22.0
93245    200808      17.0      10.9       14.0            1.5             20.3
93245    200809      16.7      10.5       13.6            1.5             15.1
93245    200810      16.2       9.5       12.8           24.0             13.5

In [15]:
# connection string to allow pandas to work with psycopg2 & sqlalchemy
db_loc = 'postgresql+psycopg2://postgres:pass@localhost:5432/solarenergy' 
engine = create_engine(db_loc)
bodega_df.to_sql("uscrn_monthly", engine, if_exists='append')

### Load Monthly Data (all stations)

In [18]:
# first get a list of (non-duplicated) WBAN ids from postgres:
conn = psycopg2.connect(database='solarenergy', user='postgres',
                            password='pass', host='localhost', port='5432')
cur = conn.cursor()
cur.execute("SELECT wban_id, state, location, vector from weather_stations")
stations = cur.fetchall()
conn.commit()

In [19]:
# take a look:
stations

[('03047', 'TX', 'Monahans', '6 ENE'),
 ('03048', 'NM', 'Socorro', '20 N'),
 ('03054', 'TX', 'Muleshoe', '19 S'),
 ('03055', 'OK', 'Goodwell', '2 E'),
 ('03060', 'CO', 'Montrose', '11 ENE'),
 ('03061', 'CO', 'Cortez', '8 SE'),
 ('03062', 'NM', 'Los Alamos', '13 W'),
 ('03063', 'CO', 'La Junta', '17 WSW'),
 ('03067', 'KS', 'Oakley', '19 SSW'),
 ('03072', 'TX', 'Bronte', '11 NNE'),
 ('03074', 'NM', 'Las Cruces', '20 N'),
 ('03075', 'NM', 'Dulce', '1 NW'),
 ('03076', 'CO', 'Grand Junction', '9 W'),
 ('03077', 'AZ', 'Holbrook', '17 ESE'),
 ('03078', 'CO', 'Eads', '16 ENE'),
 ('03079', 'CO', 'Saguache', '2 WNW'),
 ('03080', 'NM', 'Reserve', '1 W'),
 ('03081', 'UT', 'Tropic', '9 SE'),
 ('03082', 'NM', 'Carrizozo', '1 W'),
 ('03083', 'CO', 'Stratton', '24 N'),
 ('03084', 'CO', 'Center A', '4 SSW'),
 ('03085', 'AZ', 'Bowie', '23 SSE'),
 ('03086', 'CO', 'Springfield', '6 WSW'),
 ('03087', 'NM', 'Santa Fe', '20 WNW'),
 ('03088', 'CO', 'Woodland Park', '14 WSW'),
 ('03089', 'CO', 'Rocky Ford', '1 ESE'),
 ('03090', 'NM', 'Taos', '27 NW'),
 ('03091', 'CO', 'Kim', '9 WSW'),
 ('03092', 'NM', 'Raton', '26 ESE'),
 ('03093', 'CO', 'Genoa', '35 N'),
 ('03094', 'NM', 'Clayton', '3 ENE'),
 ('03095', 'NM', 'Mills', '6 WSW'),
 ('03096', 'CO', 'Rifle', '23 NW'),
 ('03097', 'NM', 'Mountainair', '2 WSW'),
 ('03098', 'CO', 'Eagle', '13 SSE'),
 ('03099', 'CO', 'Craig', '30 N'),
 ('03728', 'SC', 'McClellanville', '7 NE'),
 ('03733', 'WV', 'Elkins', '21 ENE'),
 ('03739', 'VA', 'Cape Charles', '5 ENE'),
 ('03758', 'NC', 'Durham', '11 W'),
 ('03759', 'VA', 'Charlottesville', '2 SSE'),
 ('03761', 'PA', 'Avondale', '2 N'),
 ('04125', 'OR', 'John Day', '35 WNW'),
 ('04126', 'ID', 'Arco', '17 SW'),
 ('04127', 'ID', 'Murphy', '10 W'),
 ('04128', 'OR', 'Riley', '10 WSW'),
 ('04130', 'MT', 'St. Mary', '1 SSW'),
 ('04131', 'WY', 'Moose', '1 NNE'),
 ('04136', 'WA', 'Spokane', '17 SSW'),
 ('04137', 'MT', 'Dillon', '18 WSW'),
 ('04138', 'UT', 'Brigham City', '28 WNW'),
 ('04139', 'NV', 'Denio', '52 WSW'),
 ('04140', 'MT', 'Lewistown', '42 WSW'),
 ('04141', 'OR', 'Coos Bay', '8 SW'),
 ('04143', 'UT', 'Provo', '22 E'),
 ('04222', 'CA', 'Redding', '12 WNW'),
 ('04223', 'WA', 'Darrington', '21 NNE'),
 ('04236', 'OR', 'Corvallis', '10 SSW'),
 ('04237', 'WA', 'Quinault', '4 NE'),
 ('04990', 'SD', 'Sioux Falls', '14 NNE'),
 ('04994', 'MN', 'Goodridge', '12 NNW'),
 ('12987', 'TX', 'Edinburg', '17 NNE'),
 ('13301', 'MO', 'Chillicothe', '22 ENE'),
 ('21514', 'HI', 'Mauna Loa', '5 NNE'),
 ('21515', 'HI', 'Hilo', '5 S'),
 ('22016', 'TX', 'Panther Junction', '2 N'),
 ('23801', 'AL', 'Troy', '2 W'),
 ('23802', 'AL', 'Thomasville', '2 S'),
 ('23803', 'MS', 'Holly Springs', '4 N'),
 ('23904', 'AR', 'Batesville', '8 WNW'),
 ('23906', 'TX', 'Port Aransas', '32 NNE'),
 ('23907', 'TX', 'Austin', '33 NW'),
 ('23908', 'MO', 'Joplin', '24 N'),
 ('23909', 'MO', 'Salem', '10 W'),
 ('25379', 'AK', 'Sitka', '1 NE'),
 ('25380', 'AK', 'Gustavus', '2 NE'),
 ('25381', 'AK', 'Metlakatla', '6 S'),
 ('25382', 'AK', 'Yakutat', '3 SSE'),
 ('25522', 'AK', 'King Salmon', '42 SE'),
 ('25630', 'AK', 'Sand Point', '1 ENE'),
 ('25711', 'AK', 'St. Paul', '4 NE'),
 ('26494', 'AK', 'Fairbanks', '11 NE'),
 ('26562', 'AK', 'Port Alsworth', '1 SW'),
 ('26563', 'AK', 'Kenai', '29 ENE'),
 ('26564', 'AK', 'Ivotuk', '1 NNE'),
 ('26565', 'AK', 'Deadhorse', '3 S'),
 ('26655', 'AK', 'Red Dog Mine', '3 SSW'),
 ('27516', 'AK', 'Barrow', '4 ENE'),
 ('37201', 'SA', 'Tiksi', '4 SSE'),
 ('53002', 'NM', 'Artesia', '2 WNW'),
 ('53003', 'NM', 'Grants', '2 S'),
 ('53004', 'UT', 'Bluff', '32 NW'),
 ('53005', 'CO', 'Buena Vista', '2 SSE'),
 ('53006', 'AZ', 'Amado', '23 W'),
 ('53007', 'CO', 'Colorado Springs', '23 NW'),
 ('53008', 'NM', 'Clovis', '7 N'),
 ('53009', 'NM', 'Ramah', '9 SE'),
 ('53010', 'UT', 'Monticello', '24 NW'),
 ('53011', 'AZ', 'Tsaile', '1 SSW'),
 ('53012', 'UT', 'Blanding', '26 SSW'),
 ('53013', 'UT', 'Cedar City', '18 SSE'),
 ('53014', 'UT', 'Mexican Hat', '10 NW'),
 ('53015', 'NM', 'Hagerman', '10 ESE'),
 ('53016', 'NM', 'Vaughn', '36 SSE'),
 ('53017', 'NM', 'Aztec', '43 E'),
 ('53019', 'AZ', 'Whiteriver A', '1 SW'),
 ('53022', 'NM', 'Elida', '14 SW'),
 ('53023', 'UT', 'Spanish Valley', '25 SW'),
 ('53024', 'NM', 'Las Vegas', '6 NE'),
 ('53025', 'NM', 'Hachita', '7 ESE'),
 ('53026', 'NM', 'Pinon', '8 SSE'),
 ('53131', 'AZ', 'Tucson', '11 W'),
 ('53132', 'AZ', 'Elgin', '5 S'),
 ('53136', 'NV', 'Mercury', '3 SSW'),
 ('53138', 'NV', 'Baker', '5 W'),
 ('53139', 'CA', 'Stovepipe Wells', '1 SW'),
 ('53149', 'UT', 'Torrey', '7 E'),
 ('53150', 'CA', 'Yosemite Village', '12 W'),
 ('53151', 'CA', 'Fallbrook', '5 NE'),
 ('53152', 'CA', 'Santa Barbara', '11 W'),
 ('53154', 'AZ', 'Yuma', '27 ENE'),
 ('53155', 'AZ', 'Williams', '35 NNW'),
 ('53156', 'AZ', 'Phoenix', '7 S'),
 ('53159', 'AZ', 'Cameron', '25 SSE'),
 ('53160', 'AZ', 'Camp Verde', '3 N'),
 ('53162', 'AZ', 'Coolidge', '5 W'),
 ('53163', 'NM', 'Socorro', '17 WSW'),
 ('53164', 'AZ', 'Page', '9 WSW'),
 ('53165', 'UT', 'Delta', '4 NE'),
 ('53166', 'UT', 'St. George', '15 NE'),
 ('53167', 'UT', 'Midway', '3 NE'),
 ('53168', 'AZ', 'Ajo', '29 S'),
 ('53169', 'AZ', 'Kayenta', '16 WSW'),
 ('53170', 'AZ', 'Heber', '3 SE'),
 ('53171', 'UT', 'Milford', '42 WNW'),
 ('53172', 'AZ', 'Lake Havasu City', '19 SE'),
 ('53173', 'NM', 'Nageezi', '18 SSW'),
 ('53174', 'UT', 'Price', '3 E'),
 ('53176', 'AZ', 'Gila Bend', '3 ENE'),
 ('53180', 'AZ', 'Kingman', '8 NE'),
 ('53181', 'AZ', 'Safford', '5 NNE'),
 ('53182', 'OK', 'Goodwell', '2 SE'),
 ('53183', 'AZ', 'Fredonia', '7 SSE'),
 ('53184', 'AZ', 'Meadview', '7 N'),
 ('53185', 'UT', 'Beaver', '15 E'),
 ('53877', 'NC', 'Asheville', '8 SSW'),
 ('53878', 'NC', 'Asheville', '13 S'),
 ('53926', 'OK', 'Stillwater', '2 W'),
 ('53927', 'OK', 'Stillwater', '5 WNW'),
 ('53960', 'LA', 'Lafayette', '13 SE'),
 ('53961', 'LA', 'Monroe', '26 N'),
 ('53968', 'TX', 'Palestine', '6 WNW'),
 ('53974', 'KS', 'Manhattan', '6 SSW'),
 ('54794', 'NH', 'Durham', '2 N'),
 ('54795', 'NH', 'Durham', '2 SSW'),
 ('54796', 'RI', 'Kingston', '1 NW'),
 ('54797', 'RI', 'Kingston', '1 W'),
 ('54808', 'IL', 'Champaign', '9 SW'),
 ('54810', 'MI', 'Chatham', '1 SE'),
 ('54811', 'IL', 'Shabbona', '5 NNE'),
 ('54851', 'OH', 'Coshocton', '8 NNE'),
 ('54854', 'MI', 'Gaylord', '9 SSW'),
 ('54856', 'OH', 'Wooster', '3 SSE'),
 ('54902', 'IA', 'Des Moines', '17 E'),
 ('54903', 'WI', 'Necedah', '5 WNW'),
 ('54932', 'MN', 'Sandstone', '6 W'),
 ('54933', 'SD', 'Aberdeen', '35 WNW'),
 ('54937', 'ND', 'Jamestown', '38 WSW'),
 ('56401', 'AK', 'Glennallen', '64 N'),
 ('63826', 'SC', 'Blackville', '3 W'),
 ('63828', 'GA', 'Newton', '8 W'),
 ('63829', 'GA', 'Newton', '11 SW'),
 ('63831', 'MS', 'Newton', '5 ENE'),
 ('63838', 'KY', 'Versailles', '3 NNW'),
 ('63849', 'KY', 'Bowling Green', '21 NNE'),
 ('63850', 'GA', 'Watkinsville', '5 SSE'),
 ('63855', 'TN', 'Crossville', '7 NW'),
 ('63856', 'GA', 'Brunswick', '23 S'),
 ('63857', 'AL', 'Gadsden', '19 N'),
 ('63858', 'AL', 'Selma', '13 WNW'),
 ('63862', 'AL', 'Valley Head', '1 SSW'),
 ('63866', 'AL', 'Guntersville', '2 SW'),
 ('63867', 'AL', 'Cullman', '3 ENE'),
 ('63868', 'AL', 'Courtland', '2 WSW'),
 ('63869', 'AL', 'Fairhope', '3 NE'),
 ('63891', 'AL', 'Clanton', '2 NE'),
 ('63892', 'AL', 'Gainesville', '2 NE'),
 ('63893', 'AL', 'Greensboro', '2 WNW'),
 ('63894', 'AL', 'Muscle Shoals', '2 N'),
 ('63895', 'AL', 'Russellville', '4 SSE'),
 ('63896', 'AL', 'Scottsboro', '2 NE'),
 ('63897', 'AL', 'Selma', '6 SSE'),
 ('63898', 'IN', 'Bedford', '5 WNW'),
 ('63899', 'AL', 'Brewton', '3 NNE'),
 ('64756', 'NY', 'Millbrook', '3 W'),
 ('64757', 'ON', 'Egbert', '1 W'),
 ('64758', 'NY', 'Ithaca', '13 E'),
 ('73801', 'AL', 'Northport', '2 S'),
 ('73802', 'AL', 'Highland Home', '2 S'),
 ('73803', 'AL', 'Talladega', '10 NNE'),
 ('92821', 'FL', 'Titusville', '7 E'),
 ('92826', 'FL', 'Everglades City', '5 NE'),
 ('92827', 'FL', 'Sebring', '23 SSE'),
 ('93243', 'CA', 'Merced', '23 WSW'),
 ('93245', 'CA', 'Bodega', '6 WSW'),
 ('94059', 'MT', 'Wolf Point', '34 NE'),
 ('94060', 'MT', 'Wolf Point', '29 ENE'),
 ('94074', 'CO', 'Nunn', '7 NNE'),
 ('94075', 'CO', 'Boulder', '14 W'),
 ('94077', 'NE', 'Harrison', '20 SSE'),
 ('94078', 'WY', 'Lander', '11 SSE'),
 ('94079', 'NE', 'Whitman', '5 ENE'),
 ('94080', 'ND', 'Medora', '7 E'),
 ('94081', 'SD', 'Buffalo', '13 ESE'),
 ('94082', 'CO', 'Dinosaur', '2 E'),
 ('94084', 'ND', 'Northgate', '5 ESE'),
 ('94085', 'SD', 'Pierre', '24 S'),
 ('94088', 'WY', 'Sundance', '8 NNW'),
 ('94092', 'CO', 'Akron A', '4 E'),
 ('94094', 'CO', 'Meeker', '15 W'),
 ('94096', 'UT', 'Vernal', '23 SSE'),
 ('94097', 'UT', 'Grantsville', '12 WNW'),
 ('94098', 'UT', 'Manila', '18 ESE'),
 ('94644', 'ME', 'Old Town', '2 W'),
 ('94645', 'ME', 'Limestone', '4 NNW'),
 ('94995', 'NE', 'Lincoln', '8 ENE'),
 ('94996', 'NE', 'Lincoln', '11 SW'),
 ('96404', 'AK', 'Tok', '70 SE'),
 ('96406', 'AK', 'Ruby', '44 ESE'),
 ('96407', 'AK', 'Selawik', '28 E'),
 ('96408', 'AK', 'Denali', '27 N'),
 ('nan', 'VA', 'Sterling', '0 N'),
 ('UN', 'TN', 'Oakridge', '0 N')]

In [20]:
# adjust helper function to work with tuples
def get_noaa_url(state, location, vector):
    """ Function output a url given state, location & vector of a station."""
    base = 'http://www1.ncdc.noaa.gov/pub/data/uscrn/products/monthly01/CRNM0102-'
    station = '_'.join([state, location, vector])
    return base + station.replace(' ','_') + '.txt'

In [21]:
# LOAD cnames AND usecols above!!!!
# confirm this url works to load bodega
wban_tup = ('93245', 'CA', 'Bodega', '6 WSW')
url = get_noaa_url(*wban_tup[1:])
df = pd.read_csv(url, sep = '\s+', header=None, index_col = 'WBANNO',
                            names=cnames, usecols=usecols)
df.head()

,LST_YRMO,T_MONTHLY_MAX,T_MONTHLY_MIN,T_MONTHLY_MEAN,P_MONTHLY_CALC,SOLRAD_MONTHLY_AVG
WBANNO,,,,,,
93245,200806,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
93245,200807,16.5,10.3,13.4,0.2,22.0
93245,200808,17.0,10.9,14.0,1.5,20.3
93245,200809,16.7,10.5,13.6,1.5,15.1
93245,200810,16.2,9.5,12.8,24.0,13.5

In [22]:
# get em all... OK actually just testing the first few
db_loc = 'postgresql+psycopg2://postgres:pass@localhost:5432/solarenergy' 
engine = create_engine(db_loc)
for wban_tup in stations[:2]:
    url = get_noaa_url(*wban_tup[1:])
    print(wban_tup, url)
    df = []
    try:
        df = pd.read_csv(url, sep = '\s+', header=None, index_col = 'WBANNO',
                            names=cnames, usecols=usecols)
        print('...loaded %s rows from station %s' %(len(df), wban_tup[0]))
    except:
        print('... failed to load %s' %(wban_tup[0]))
    if len(df) > 0:
        df.index.names = ['wban_id']
        df = df.rename(index=str, columns=newcols)
        df.to_sql("uscrn_monthly", engine, if_exists='append')

('03047', 'TX', 'Monahans', '6 ENE') http://www1.ncdc.noaa.gov/pub/data/uscrn/products/monthly01/CRNM0102-TX_Monahans_6_ENE.txt
...loaded 163 rows from station 03047
('03048', 'NM', 'Socorro', '20 N') http://www1.ncdc.noaa.gov/pub/data/uscrn/products/monthly01/CRNM0102-NM_Socorro_20_N.txt
...loaded 163 rows from station 03048

In [ ]:
# UH OH...